.DS_Store
node_modules/
dist/
build/
*.log
*.lock
*.env
*.pyc
__pycache__/
.vscode/
.idea/
coverage/
*.swp
*.bak
*.tmp
*.sass-cache/
*.class
*.jar
*.war
*.iml
*.jks
*.p12
*.pem
*.crt
*.key
target/
*.o
*.obj
*.dll
*.exe
*.so
*.dylib
